# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
*.log

# Local WordPress install (if you run one alongside this repo for testing)
/wp-admin/
/wp-includes/
/wp-*.php
/wp-config.php
!/wp-content/themes/tripdesh/
!/wp-content/plugins/tripdesh-core/
